{% extends "navbar.html" %}

{% block content %}
  <h1>Plant List</h1>
  <p>
    <a href="{% url 'plant_view:plant_create' %}">Add a new plant!</a>
  </p>

  {% if plant_list %}
  <p>My plant list:</p>
  <ul>
    {% for plant in plant_list %}
      <li>
          <a href="{% url 'plant_view:plant_detail' plant.id %}">{{ plant.name}}</a>  - (<a href="{% url 'plant_view:planttype_detail' plant.plant_type.id %}">{{ plant.plant_type }}</a>)
          (<a href="{% url 'plant_view:plant_update' plant.id %}">Update</a> |
          <a href="{% url 'plant_view:plant_delete' plant.id %}">Delete</a>)
      </li>
    {% endfor %}
  </ul>

  {% else %}
    <p>There are no plants made yet.</p>
  {% endif %}
  
{% endblock %}
