{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius:10px !important">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home:home' %}">{{ settings.APP_NAME }}</a>

      {% comment %} ALL PLANTS LINK {% endcomment %}
      <ul class="navbar-nav">
        {% url 'plant_view:all' as x %}
        <li {% if request.get_full_path == x %}class="active"{% endif %}>
            <a class="nav-link" href="{% url 'plant_view:all' %}" role="button">Plants</a></li>
      </ul>

      {% comment %} PLANT TYPE LIST LINK {% endcomment %}
      <ul class="navbar-nav">
          <li {% if request.get_full_path == x %}class="active"{% endif %}>
              <a class="nav-link" href="{% url 'plant_view:planttype_list' %}" role="button">Plant types</a></li>
      </ul>
      
      {% comment %} MY PLANTS LINK {% endcomment %}
      <ul class="navbar-nav">
        <li {% if request.get_full_path == x %}class="active"{% endif %}>
          <a class="nav-link" href="{% url 'plant_view:plant_myplants' %}" role="button">My plants</a></li>
        </ul>
      </ul>

      {% comment %} USER LOGIN {% endcomment %}
      <ul class="navbar-nav">
        {% if user.is_authenticated %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="rightnavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% comment %} <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b> {% endcomment %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="rightnavDropdown">
                <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'home:home' %}">Logout</a></li>
            </ul>
          </li>

         {% else %}
          {% comment %} USER LOGIN OR SIGNUP {% endcomment %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="rightnavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User Login
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="rightnavDropdown">
              <li><a class="dropdown-item" href="{% url 'login' %}?next={% url 'home:home' %}">Log in</a></li>
              <li><a class="dropdown-item" href="{% url 'home:register' %}">Sign up</a></li>
            </ul>
         </li>
         {% endif %}
         
      </ul>
    </div>
  </nav>
{% endblock %}